.mainbb{
   
    height: 360px;
    
}
.wh-top-img{
    width: 100%;
    height: 100%;
}
.width-for-ss-d{
    width: 55%;
    margin-left: 50px;
}
.img-padd-cover{
    padding-left: 0px;
    padding-right: 0px;
}
.imgelab{
    width: 17%;
    background-color: white;
    border-radius: 50%;
    height: 98px;
    margin-top: -48px;
}
.imgelab img{
    width: 100%;
    height: 100%;
}
.sai-rag{
    font-size: 30px;
    line-height: 36px;
}
@media (min-width: 768px) and (max-width: 991.98px){
.innerStyle{
    position: absolute;
}
.width-for-ss-d{
    margin-left: 170px;
}
.imgelab {
    width: 26%;
}
}
@media (max-width: 767px){
    .innerStyle{
        position: absolute;
    }
    .width-for-ss-d{
        width: 78%;
    }
    .imgelab{
        width: 40%;
        height: 94px;
    }
    .mainbb {
        height: 290px;
    }
    .sai-rag {
        font-size: 22px;
        line-height: 32px;
    }
}
