body {
    background-color: rgba(244, 173, 1, 0.25);
}


    
    
.firstCont{
    height: 591px;
    background: #F4AD01;
    border-radius: 48px 48px 311.921px 48px;
    margin-top: 82px;
    background-image: url("../../assets/images/bonder1.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.content-padding{
    padding: 106px 30px 30px 40px;
}
.flex-c{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.flex-c h3{
    font-weight: 800;
}
.align-store{
    text-align: center;
    margin-top: 10px;
}
.arr-mobile{
    display: flex;
    flex-direction: row;
}

.fastest-f{
    font-size: 45px;
}

.figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
}
.about-cc{
    margin-top: 100px;
    margin-bottom: 100px;
    background: rgba(252, 235, 191, 0.5);
    box-shadow: 0px 4px 50px rgba(116, 71, 117, 0.25);
}
.about{
    padding-top: 100px;
    padding-bottom: 100px;
}
.about p{
    line-height: 42px;
    font-size: 19px;
}
.r1cc{
    margin-top: 70px;
    margin-bottom: 70px;
}
.r2cc{
    margin-bottom: 70px;
}
.com-cont{
    background-color: #F4AD01;
    margin: 50px 100px 50px 100px;
    border-radius: 125px 48px 48px 48px;
}
.com-7-cnt{
    margin-top: 43px;
    margin-right: 70px;
    margin-bottom: 39px;
}
.com-7-cnt h3{
    font-size: 36px;
}
.com-7-cnt p{
    font-size: 38px;
    font-weight: 100;
}
.phn-space{
    background-color: #F4AD01;
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 50px;
}
.figure img.image-hover {
  position: absolute;
  top: -30px;
  right: 0;
  left: -8px;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s;
}

.figure:hover img.image-hover{
  opacity: 1;
}
.mtmm{
    margin-top: 50px;
}
.acc-cnt-arr{
    display: flex;
    justify-content: center;
}
.accontWidth{
    width: 80%;
    background: #F4AD01;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 47.9862px; 
}
.padd-contt{
    padding: 35px 35px 60px 35px;
}
.heading-cont{
    border-bottom: 2px solid;
    padding-bottom: 9px;
}
.content-ll{
    margin-top: 12px;
}
.content-ll h4{
   font-size: 18px;
}
.content-ll p{
    font-size: 11px;
    margin-bottom: 0px;
}
.footercnt{
    background: #F4AD01;
    
    
}
.footer-border{
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 2px solid;
    padding-bottom: 12px;
}
.footer-c1-arr{
    padding-top: 70px;
}
.footer-subH{
    font-weight: 900;
    font-size: 27px;
}
.icon-p{
    padding-right: 12px;
    padding-left: 12px;
}
.icon-p1{
    padding-right: 12px;
}
.nav-sub-p{
    padding-left: 12px;
}
.input-email{
    border-bottom: 4px solid;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-top: 17px;
    padding-left: 17px;
    padding-bottom: 17px;
    background-color: #00000042;
    width: 100%;
}
textarea:focus, input:focus{
    outline: none;
}
.submit{
    background-color: black;
    border: none;
    color: #f4ad00;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    padding-left: 43px;
    padding-right: 43px;
    margin-left: 10px;
}
::placeholder{
    margin-left: 12px;
    color: #302c2c42;
}
.wrap-inbuttn{
    width: 65%;
}
.sub-wrap{
    text-align: center;
    padding-top: 12px;
    border-bottom-width: 12px;
    padding-bottom: 12px;
}
.subscribe{
    width: 85%;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    background-color: black;
    color: #f4ad00;
}
.second-f-row{
    padding-top: 16px;
    padding-bottom: 50px;
}
.p-f-ss{
    font-weight: 500;
    font-size: 15px;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.posi-icon-in{
    left: 13px;
    top: 8px;
}
.dis-flex{
    display: flex;
}



 

.main_bg{
    background-color: #f6f6f6;
}

.sideBar_padding{
    padding: 25px 30px 30px 30px;
}
      /*End of the dropdown*/


  /* Header part styling */
  .myHeader{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgb(252 234 191);;
    }
    
    
  
  .logoArr{
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.logoArr h4{
    font-size: 38px;
    font-weight: 100;
}
.navBarSS{
    display: flex;
    align-items: center;
}
.navbarArran{
    display: flex;
}
.navButt{
    display: none;
}
.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: rgb(233, 165, 6);
    z-index: 23;
}
.navbarSPACE{
    padding-left: 20px;
    padding-right: 20px;
}
.d-none{
    display: none;
}
.d-show{
    display: block;
}
.m-mobilearr{
    display: none;
}
.closind-ic{
    display: none;
}
@media (max-width: 768px){
.sticky{
    background-color: #FCEBBF;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%)

}
.box-sha-mainHeaderH{
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%)
}
.navButt{
    display: block;
    padding-right: 12px;
}
.navbarArran{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 17px;
    background-color: #f4ad00;
    padding-top: 165px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.navbarSPACE{
    padding-bottom: 10px;
}
.closind-ic{
    display:block;
    text-align: end;
}
.logoArr{
    padding-left: 16px;
}
.firstCont{
    margin-top: 23px;
    border-radius: 48px 48px 100px 48px;
    height: 478px;
}
.arr-mobile{
    display: none;
}
.fastest-f{
    font-size: 19px;
    font-weight: 600;
}
.content-padding{
    padding: 32px 30px 30px 30px;
}
.m-mobilearr{
    text-align: center;
    display: block;
    padding-top: 17px;
}
.d-none-m{
    display: none;
}
.d-show-m{
    display: block;
}
.align-store{
    display: flex;
}
.playstore{
    width: 50%;
}
.fastest-m{
    padding-left: 30px;
    padding-right: 30px;
}
.p1-play-m{
    padding-left: 6px;
}
.p2-play-m{
    padding-right: 6px;
}
.footer-c1-arr{
    padding-top: 25px;
}
.footer-subH{
    font-size: 19px;
}
.footer-subp{
    font-size: 14px;
}
.icon-p{
    height: 23px;
}
.icon-p1{
    height: 23px;
}
.m-foot-dis{
    padding-bottom: 50px;
}
.nav-sub-p{
    font-size: 14px;
}
.loc-p-m{
    margin-top: 20px;
}
.wrap-inbuttn{
    width: 100%;
    padding-top: 12px;
}
.footer-border{
    border-bottom: 1px solid #28282880;
    padding-bottom: 28px;
}
.sub-wrap{
    padding-top: 19px;
}
.second-f-row {
    padding-top: 32px;
}
.p-f-ss {
    font-weight: 500;
    font-size: 12px;
}
.about p {
    line-height: 30px;
    font-size: 13px;
}
.about{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.about-cc {
    margin-bottom: 25px;
    margin-top: 40px;
}
.r1cc {
    margin-top: 25px;
    margin-bottom: 40px;
}
.content-ll h4{
    font-size: 14px;
 }
 .content-ll p{
     font-size: 9px;
     margin-bottom: 0px;
 }
 .loremc-m-sp{
     padding-bottom: 40px;
 }
 .com-cont{
    margin: 50px 12px 50px 12px;
    border-radius: 20px 20px 73px 20px; 
 }
 .com-7-cnt{
     margin: 40px 20px 40px 20px;
 }
 .com-7-cnt h3{
    font-size: 27px;
    font-weight: 700;
}
.com-7-cnt p {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}
.dis-flex {
    display: flex;
    flex-direction: column;
}
.w-m-100{
    width: 100%;
}
.submit-m{
    text-align: center;
    padding-top: 25px;
}
.navButt button {
    border: none;
   
    background-color: transparent;
    font-size: 32px;
    height: 50px;
} 
}






