.animationpack{
    animation-duration: 3s;
    animation-name: fadeInAnimationww;
    animation-iteration-count: 1;
}
@keyframes fadeInAnimationww{
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 4%;
        width: 100%;
      }
}
.c-white{
    color: white;
}
.cc-pp{
    font-size: 15px;
    color: white;
}
.content-ll-pack{
    
    margin-top: 12px;
}

.try{
    padding-top: 24px;
    text-align: center;
}
.try1{
    padding-top: 24px;
    text-align: center;
}
.try span{
    background-color: black;
    color: white;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 20px;
}
.s-pack{
    font-size: 30px;
    font-weight: 800;
}
.s-month{
    font-size: 20px;
    color: #0000007d;
}
.accontWidth1{
    width: 80%;
    background: #F4AD01;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 47.9862px; 
}
.padd-contt1{
    padding: 35px 35px 60px 35px;
}
.lastimgtab{
    display: none;
}
@media (min-width: 768px) and (max-width: 991.98px){
    .try1-m{
        display: flex;
        flex-direction: column;
    } 
    .lastimgtab{
        display: block;
    }
    .lastimgtab img{
        width: 100%;
    }
    .packpaddg{
        padding-left: 0px;
        padding-right: 0px;
    }
    .accontWidth1{
        width: 95%;
    }
    .padd-contt1{
        padding: 35px 15px 35px 15px;
    }
    .cc-pp {
        font-size: 11px;
    }
    .try{
        padding-top: 8px;
    }
    .try span{
        font-size: 14px;
    }
    .try1{
        padding-top: 12px;
    }
    .s-pack{
        font-size: 20px;
    }
    .s-month{
        font-size: 15px;
    }
    .c-white h3{
        font-size: 24px;
    }
    .ppfortabpack{
        margin-bottom: 20px;
    }
}
@media (max-width: 767px){
.accontWidth1{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 24.9862px;
}
.try1-m{
    display: flex;
    justify-content: space-between;
}
.try span{
    font-size: 16px;
    
    padding-right: 12px;
}
.try1{
    padding-top: 21px;
    padding-left: 12px;
}
.s-pack{
    font-size: 23px;
}
.s-month{
    font-size: 17px;
}
.cc-pp{
    font-size: 11px;
    margin-bottom: 0px;
}
.padd-contt1{
    padding: 24px 24px 24px 24px;
}
.c-white h3{
    font-size: 18px;
    margin-bottom: 4px;
}
.content-ll-pack{
    margin-top: 0px;
}
.lastimgtab{
    display: none;
}
}