
.trypageside{
    background-color: #F4AD01;
    margin-top: -105px;
    border-top-right-radius: 86px;
}
.p-9{
    padding-top: 70px;
}

.logoArr1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 51px;
    padding-top: 24px;
}
.logoArr1 h4{
    font-size: 38px;
    font-weight: 100;
}

.enterprise{
    width: 23%;
    height: 64px;
    background-color: white;
    border-radius: 50%;
}
.enterprise img{
    width: 100%;
    height: 100%;
}
.dis-fd{
    display: flex;
    padding: 100px 25px 25px 25px;
}
.arr-acc{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 12px
}
.span2{
    font-size: 11px;
    color: #28282875;
}
.p-arr{
    margin-left: 43px;
    margin-right: 56px;
    cursor: pointer;
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}
.p-arr1{
    margin-left: 43px;
    margin-right: 56px;
    padding-bottom: 100px;
    padding-top: 15px;
}
.cmpny-focus{
    background-color: #c58e0a99;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-right: -12px;
}
.Lumbung{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.f-d{
    display: flex;
}
.sideimg{
    display: flex;
    align-items: center;
}

.penImg{
    display: flex;
    align-items: end;
    width: 20%;
    
}
.pen-bb{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
.imageaddbox{
    width: 22%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 4px rgba(116, 71, 117, 0.25);
    
    margin-left: 25PX;
}
.imageI{
    padding: 24px;
    position: relative;
}
.imageI2{
    position: relative;
    padding: 0px 7px 5px 18px;
}
.addP{
    display: flex;
    align-items: center;
    color: #A9A9AA;
    font-size: 20px;
    padding-left: 20px;
}
.plusI{
    position: absolute;
    right: 15PX;
    top: 77px;
}
.plusI1{
    position: absolute;
    right: 8PX;
    top: 63px;
}
.pencircle{
    display: flex;
    justify-content: space-between;
    padding: 5px 12px 5px 29px;
}
.views{
    color: #A9A9AA;
    font-size: 10px;
}
.grayM{
    font-size: 10px;
    font-weight: 500;
}
.Tone{
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 4px;
}
.rupp{
    font-size: 16px;
    font-weight: 500;
    padding-left: 4px;
}



/* toggle switch styles */


.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 27px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F4AD01;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #F4AD01;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .slide-ss{
      display: flex;
  }
  .slot-ss{
    font-size: 10px;
    padding-top: 5px;
    padding-right: 5px;
    color: #A9A9AA;
  }

  .pluspage{
    width: 80%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 4px rgba(116, 71, 117, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25PX;
  }
  .display-pluspage-n{
      display: none;
  }
  .display-pluspage{
      display: flex;
  }
  .firstc{
      width: 50%;
      text-align: -webkit-center;
  }
  .phn-space-t{
    background-color: hsl(0deg 0% 100% / 13%);
    border: 1px solid #0000005e;
    border-radius: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 50px;
  }
  .w-70{
      width: 70%;
  }
  .w-50{
      width: 50%;
  }
  .w-45{
      width: 45%;
  }
  .p-20{
      margin-left: 20px;
  }
  .w-50-nb{
      width: 50%;
  }
  .sub-wrap-t{
    text-align: center;
    padding-top: 24px;
    border-bottom-width: 12px;
    padding-bottom: 24px;
    display: block;
}
.space-fill{
    margin-top: 24px;
}
.posi-icon-in-t {
    left: 13px;
    top: 8px
}
.imm{
    width: 30%;
}
.plusI12{
    position: absolute;
    right: 34PX;
    top: 63px;
}
textarea{
    resize: none;
    width: 80%;
    height: 114px;
    background-color: hsl(0deg 0% 100% / 13%);
    margin-top: 25px;
    border: 1px solid #0000005e;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 4px;
}
.addproductp{
    text-align: end;
    width: 80%;
    color: #302c2c42;
    margin-bottom: 10px;
}
.p-left-con{
    padding-left: 0px;
}
.inPa{
    display: flex;
    flex-direction: column;
}
.inpaN{
    padding-bottom: 20px;
}
.paddInP{
    margin: 30px 140px 30px 30px;
}
.imgW{
    width: 10%;
}
.inPw{
    width: 90%;
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
.inPw-p{
    width: 90%;
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
.inPr{
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.inpw22{
    width: 80%
}
.span1-in{
    font-size: 15px;
    font-weight: 700;
    color: #282828;
}
.span1-inN{
    font-size: 15px;
    font-weight: 700;
    color: #282828;
}
.span2-in{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.span2-inN{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #241b1b8a;
}
.noti-arr{
    display: flex;
    align-items: center;
}
.notiAlert{
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 7px;
    margin-left: 2px;
}
.span3-in{
    font-size: 10px;
    line-height: 20px;
    color: #8E8E93;
}
.span4-in{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #282828;
}
.cm-bb-mm{
    display: none;
}
.cm-wv{
    display: block;
}
.f-dis-addP{
    display: flex;
}
.p-for-help{
    font-size: 12px;
    font-weight: 400;
    line-height: 29px;
    color: #241b1b8a;
}
.cont-help-ls{
    background-color: #282828;
    color: #E5E5E5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;

}
.second-subscribe{
    display: none;
}
.p-arr2{
       
    cursor: pointer;
    border-bottom: 1px solid rgba(40, 40, 40, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}
.p-arr3{
    
    padding-bottom: 100px;
    padding-top: 15px;
}
.pageshfj{
    display: none;
}
@media (min-width: 768px) and (max-width: 991.98px){
    .f-dis-addP {
        display: flex;
        flex-direction: row;
        margin-bottom: 45px;
    }
    .trypageside{
        background-color: transparent;
        margin-top: 0px;
        border-top-right-radius: 0px;
    }
   
    .cm-mobile{
        border: none;
        background-color: #F4AD01;
        font-size: 14px;
        transition-duration: 0.2s;
    }
    .cm-img-mm{
        padding-bottom: 4px;
        padding-right: 4px;
    }
    .cm-text{
        padding: 10px 25px 10px 25px;
        border-radius: 20px;
    }
    .cm-icon{
        padding: 10px;
        border-radius: 50%;
    }
    .cm-text-hs{
        display: none;
    }
    .cm-bb-mm{
        display: block;
        padding-left: 30px;
        padding-top: 36px;
    }
    .cm-wv{
        display: none;
    }
    .imageaddbox {
        width: 36%;
    }
    .pluspage{
        width: 95%;
    }
    .tabaddplus{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .plusI12{
        right: 14px;
    }
    .p-arr2{
       
        cursor: pointer;
        border-bottom: 1px solid rgba(40, 40, 40, 0.2);
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .p-arr3{
        
        padding-bottom: 100px;
        padding-top: 15px;
    }
    .pageshfj{
        display: flex;
    }
    .paddInP{
        margin: 30px;
    }
    .paddInP-tm-a{
        margin: 30px 30px 30px 50px;
        padding-bottom: 12px;
    border-bottom: 1px solid rgb(40 40 40 / 48%);
}
}
@media (max-width: 767px){
    .trypageside{
        background-color: transparent;
        margin-top: 0px;
        border-top-right-radius: 0px;
    }
   
    .cm-mobile{
        border: none;
        background-color: #F4AD01;
        font-size: 14px;
        transition-duration: 0.2s;
    }
    .cm-img-mm{
        padding-bottom: 4px;
        padding-right: 4px;
    }
    .cm-text{
        padding: 10px 25px 10px 25px;
        border-radius: 20px;
    }
    .cm-icon{
        padding: 10px;
        border-radius: 50%;
    }
    .cm-text-hs{
        display: none;
    }
    .cm-bb-mm{
        display: block;
        padding-left: 30px;
        padding-top: 36px;
    }
    .cm-wv{
        display: none;
    }
    .f-dis-addP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imageaddbox{
        width: 75%;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .imageI{
        padding: 28px;
    }
    .addP{
        font-size: 24px;
    }
    .imageI2{
        width: 45%;
        text-align: center;
    }
    .plusI1{
        right: 13px;
    }
    .des-mm-sandin{
        width: 50%;
    }
    .paddInP{
        margin: 30px;
    }
    .inPw{
        width: 100%;
    }
    .inpw22{
        width: 100%;
    }
   
    .imgW{
        width: 20%;
    }
    .inPr{
        padding-left: 0px;
    }
    .pay-ppp{
        margin-left: 12px;
    }
    .pluspage{
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .firstc{
        width: 100%;
    }
    .w-50-nb{
        width: 100%;
        margin-top: 25px;
    }
    .addproductp{
        width: 100%;
        text-align: center;
    }
    .imm{
        width: 33%;
        text-align: center;
    }
    .plusI12{
        right: 4px;
    }
    .pp-for-imgpp{
        padding-left: 20px;
        padding-right: 20px;
    }
    .textaaa-align{
        text-align: center;
    }
    .subscribe1{
        width: 70%;
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 30px;
        background-color: black;
        color: #f4ad00;
    
    }
    .second-subscribe{
        text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    }
    .sub-wrap-t{
        display: none;
    }
    .p-arr2{
       
        cursor: pointer;
        border-bottom: 1px solid rgba(40, 40, 40, 0.2);
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .p-arr3{
        
        padding-bottom: 100px;
        padding-top: 15px;
    }
    .pageshfj{
        display: flex;
    }
    .paddInP-tm-a{
        margin: 30px 30px 30px 50px;
        padding-bottom: 12px;
    border-bottom: 1px solid rgb(40 40 40 / 48%);

    }
    .ccmtmm{
        font-size: 19px;
    font-weight: 700;
    }
}
